    </div>
    <footer class="fixed-bottom pt-2 pb-2 pl-4">
        <small>I AM A SUPER FOOTER</small>
    </footer>
    <script src="{{ base_url() }}/assets/scripts/main.js"></script>
    </body>
</html>